venv
jetbra
.idea
__pycach__/
.gitignore
Blur.lnk
Excel.lnk
FastStone Image Viewer.lnk
NARUTO SHIPPUDEN Ultimate Ninja Storm 4.lnk
PowerPoint.lnk
Prototype.lnk
Telegram.lnk
Word.lnk
desktop.ini
fantasyfurniture-1.19.2-6.1.3.jar
lesson_2.py
weaponmaster-multi-forge-1.19.x-3.0.3.jar
Выбор языка NARUTO SHIPPUDEN Ultimate Ninja Storm 4.ln